/* From Uiverse.io by bociKond */ 
/* Hide the default checkbox */
.special-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .special-input {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
  }
  
  /* Create a custom checkbox */
  .popupCheckmark {
    --clr: #002242;
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 50%;
    transition: 300ms;
  }
  
  /* When the checkbox is checked, add a blue background */
  .special-input input:checked ~ .popupCheckmark {
    background-color: var(--clr);
    border-radius: .5rem;
    animation: pulse 500ms ease-in-out;
  }
  
  /* Create the popupCheckmark/indicator (hidden when not checked) */
  .popupCheckmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the popupCheckmark when checked */
  /* .special-input input:checked ~ .popupCheckmark:after {
    display: block;
  } */
  
  /* Style the popupCheckmark/indicator */
  .special-input .popupCheckmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #E0E0E2;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 #00224290;
      rotate: 20deg;
    }
  
    50% {
      rotate: -20deg;
    }
  
    75% {
      box-shadow: 0 0 0 10px #00224253;
    }
  
    100% {
      box-shadow: 0 0 0 13px #00224217;
      rotate: 0;
    }
  }