.copyLink {
  background-color: #002242;
  width: 100px;
  height: 48px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  overflow: hidden;
  transition-duration: 700ms;
  direction: ltr;
  cursor: pointer;
}

/* mainColor: {
    superLight: '#FFE1FF',
    light: '#E4B1F0',
    DEFAULT: '#002242',
    dark: '#433878',
  }, */

.copyLink span:first-child {
  color: #FFE1FF;
  position: absolute;
  transform: translate(37%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.copyLink span:last-child {
  position: absolute;
  color: white;
  opacity: 0;
  transform: translateY(100%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.copyLink:focus {
  background-color: #433878;
  /* width: 120px; */
  /* height: 40px; */

  transition-delay: 100ms;
  transition-duration: 500ms;
}

.copyLink:focus span:first-child {
  color: #FFE1FF;
  transform: translateX(37%) translateY(-150%);
  opacity: 0;
  transition-duration: 500ms;
}

.copyLink:focus span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition-delay: 300ms;
  transition-duration: 500ms;
}

.copyLink:focus:end {
  background-color: #FFFFFF;
  width: 120px;
  height: 40px;
  transition-duration: 900ms;
}

.centralize {
  display: flex;
  /* border: 1px solid rgb(249, 234, 16); */
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  background-color: FFE1FF;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

#description {
  color: #FFE1FF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

@media (max-width: 820px) {

  #description {
    font-size: 2vw;
  }

  #description p {
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}